.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logoText {
  color: white;
}
.Modal {
  top: 25%
}
.cardAdmin {
  margin: 2%;
  display:inline-block;    
  width: 46%;
  position: relative;
}
img {
  display: block !important;
}
.logoMiniText {
  display: none;
}
.body {
  margin: 0 auto;
  width: 100%;
}

.inputnr {
  margin-left: 2%;
  width: auto;
}
.important {
  color: rgb(220,53,69)
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 96%;
  }
  img {
    display: none !important
  }
  .logoText{
    display: none;
  }
  .wrapper {
    position: relative;
  }
  .logoMiniText {
    display: block;
    position: absolute;
    top: 14%;
  }
}
